{% extends "base.html" %}
{% load static %}
{% block title %}My amazing blog{% endblock %}

{% block content %}
<img src="{% static "kucing.jpg" %}">
{% for entry in blog_entries %}
    <h2>{{ entry.title }}</h2>
    <p>{{ entry.body }}</p>
{% endfor %}
{% endblock %}