{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>{% block title %}My amazing cool{% endblock %}</title>
    <link rel="stylesheet" href= "{% static "css/Bismillah.css" %}">
    <style>
        body {
            text-align: center;
            font-size: 20px;
}
    </style>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li>Tes1</li>
            <li>Tes2</li>
            <li>Tes3</li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>