{% load static %}
<html>
	<head>
		<title>Tentang Pewe</title>
		<link rel="stylesheet" type="text/css" href="{% static "css/Bismillah.css" %}">
		<title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	</head>
	<body>

{% include "navbar.html" %}



<div class="container">
  <div class="row">
    
    <div class="col">
      
    </div>
  </div>
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col" style="font-size: 20;">
	<img src="{% static "css/Halaman2/Picture5.png" %}">
      <p>Aku Pewe</p>
		<p>Mahasiswa Ilmu Komputer UI</p>
		<p>Tinggal di Jakarta</p>
		<p>Dengan hobi berikut:</p>

    </div>
    <div class="col d-flex ">
      <div class="col-md-4 align-self-center h-25"><img src="{% static "css/Halaman2/Picture6.png" %}"></div>
    </div>
	<div class="col  ">
      <div class="col-md-4"><img src="{% static "css/Halaman2/Picture7.png" %}"></div>
    </div>
	<div class="col ">
      <div class="col-md-4 "><img src="{% static "css/Halaman2/Picture8.png" %}"></div>
    </div>
  </div>
</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	</body>
</html>