{% load static %}
<html>
	<head>
		<title> Pewe Keren </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="Bismillah.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
		<meta charset="utf-8">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href= "{% static "css/Bismillah.css" %}">
	
	</head> 
	<body>
		{% include "navbar.html" %}
			<center>
			<h1>Halo Namaku <b>Pewe</b></h1>
			</center>
			<div class="container">
			<div class="row">
			<div class="col-sm">
			<img src="{% static "css/Halaman1/Picture5.png" %}" width="200" ></img>
			<br/><br/>
			
			
			</div>
			<div class="col-sm">
			<h3>Programmer asik , ceria, dan seru</h3>
			<h3>Karya terbaikku : </h3>
			<div>
			<li>Project 1</li>
			<li>Project 2</li>
			<li>Project 3</li>
			</div>
			</div>
			<div class="col-sm">
			<img src="{% static "css/Halaman1/Picture6.png" %}" width="200" style="margin-bottom: 10px;"></img>
			<img src="{% static "css/Halaman1/Picture7.png" %}" width="200" style="margin-bottom: 10px;"></img>
			<img src="{% static "css/Halaman1/Picture8.png" %}" width="200"></img>
			</div>
			</div>
			</div>
			<form >
			E-mail me: <input type="text" name="email"> <br>
			<textarea name="message" rows="0" cols="0">
			</textarea><br>
			<input type="submit" value="submit">
		</form>	
		</body>
		</html>