<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="Halaman1.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Halaman2.html">Hobi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Halaman3.html">Kucing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="base_tes.html">Kucing lagi</a>
      </li>
      
    </ul>
  </div>
</nav>