img#kanan-atas {position: fixed;top: 0;right: 0;width: 300px;}
		img#kanan-bawah {position: fixed;bottom: 0;right: 0;width: 300px;}
		img#kiri-bawah {position: fixed;bottom: 0;left: 0;width: 300px;}
		img#kiri-atas {position: fixed;top: 0;left: 0;width: 300px;}
		
		body {background-image: url("Halaman1/background halaman2.png") ;background-repeat: no-repeat;background-size: cover;
			 margin: auto; text-align:center;}